* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: gray;
}
.container {
    display: flex;
    margin-top:130px;
    height: 700px;
    width: 700px;
}
